{
	"useTabs": true,
	"tabWidth": 4,
	"importOrder": [
		"^./context/(.*)$",
		"^./api/(.*)$",
		"^./components/(.*)$",
		"^./pages/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
